@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
